@use "../settings/settings";
@use "../tools/fonctions";

.hero .container ul {
  font-size: fonctions.rem(36);
  font-weight: settings.$fw-light;
  font-family: settings.$ff-subtitle;
  line-height: fonctions.leading(36, 48);
  letter-spacing: fonctions.letterTracking(200);
  text-transform: lowercase;

  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: settings.$tablet-width) {

  .hero .container ul {
    font-size: fonctions.rem(24);
  }

  .hero {
    padding-top: 25vh;
  }

}

@media screen and (max-width: settings.$mobile-width) {



}