@use "../settings/settings";

.profil img {
  display: block;
  width: 100%;
  height: 100%;
}

.profil .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.profil .container .skills-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.profil .container .profil-img {
  height: 100%;
}

.profil .container .profil-img {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.profil .row-skill {
  border: 1px solid settings.$dark-grey;
  padding: 1rem;
}

@media screen and (max-width: settings.$tablet-width) {

  .profil .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .profil .container .skills-img {
    grid-template-columns: repeat(6, 1fr);
  }

}

@media screen and (max-width: settings.$mobile-width) {

  .profil .container .profil-img {
    display: block;
  }

  .profil .container .profil-img {
    width: 80%;
    margin: auto;
  }

  .profil .container .skills-img {
    grid-template-columns: repeat(3, 1fr);
  }

}