// ###### COLORS ######
$white: #ffffff;
$light-grey: #efefef;
$dark-grey: #c4c4c4;
$black: #000000;
$yellow: #f4da0b;



// ###### FONTS ######
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

$ff-text: 'Source Sans Pro', sans-serif;
$ff-subtitle: 'Open Sans', sans-serif;



// ###### DIMENSIONS ######
$max-width: 1160px;
$outside-margin: 60px;
$inner-side-padding: 45px;
$inner-top-padding: 35px;

$tablet-width: 1200px;
$mobile-width: 660px;


// ###### TRANSITION ######
$global-transition: all ease 0.2s;