h1 {
  font-size: rem(72);
  font-weight: $fw-bold;
  font-family: $ff-text;
  text-transform: lowercase;

  position: relative;

  line-height: leading(48, 48);

  margin: 0;
}

.h1-hero {
  position: relative;
}

.h1-hero .h1-bg {
  position: absolute;

  width: 107.5%;
  height: 20%;
  background-color: $yellow;

  bottom: 1.25rem;
  left: -1.25rem;

  z-index: -1;
}

h2 {
  font-size: rem(60);
  font-weight: $fw-bold;
  font-family: $ff-text;
  text-transform: lowercase;

  position: relative;

  line-height: leading(48, 48);

  margin: 0 0 2rem 0;
}

h3 {
  font-size: rem(24);
  font-weight: $fw-bold;
  font-family: $ff-text;

  position: relative;

  line-height: leading(48, 48);

  margin: 0 0 0.5rem 0;
}



@media screen and (max-width: $tablet-width) {

  h1 {
    font-size: rem(60);
  }

  .h1-hero .h1-bg {
    bottom: 1rem;
    left: -1rem;
  }

}

@media screen and (max-width: $mobile-width) {

.h1-bg {
  display: none;
}

}


