@use "../settings/settings";
@use "../tools/fonctions";

a {
  color: settings.$black;
  text-decoration: none;
}

a.button {
  border: solid 1px settings.$black;
  padding: 20px 35px;

  font-weight: settings.$fw-light;
  font-family: settings.$ff-subtitle;
  letter-spacing: fonctions.letterTracking(200);

  transition: settings.$global-transition;
}

a.button:hover {
  background: settings.$black;
  color: settings.$white;

  transition: settings.$global-transition;
}

nav a::after, .contact ul a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: settings.$black;
  transition: width .3s;

  margin-top: 5px;
}

nav a:hover::after, .contact ul a:hover::after {
  width: 100%;
}